<!DOCTYPE html>
<html>

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style>

    .form-control{
        margin-bottom : 15px;
    }
    </style>
</head>

<body>

    <% include templates/navbar.ejs %>
        <div class="content-container">
            <div class="container-fluid">
                <div class="flex">
                    <img src="<% source.authorThumbnails[2].url %>" alt="Profile Image">
                </div>
            </div>
        </div>
</body>

</html>