<!DOCTYPE html>
<html>
  <head>
    <% include templates/head.ejs %>
  
  </head>

  <body>
    <% include templates/navbar.ejs %>


    <div class="container">

        muausa


    </div>
    
  </body>
</html>
