<div class="sidebar-container">
    <div class="sidebar-logo">
      
      <a href="/calendar" style="text-decoration: none; color: white;">
        <i class="fa fa-camera"></i>
     </a>
      
      <a href="/" style="text-decoration: none; color: white;">
         My Videos
      </a>
    </div>


    <ul class="sidebar-navigation">
      <li class="header">Videos</li>
      <li>
        <a href="/">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Video
        </a>
      </li>
      <!-- <li>
        <a href="/calendar">
          <i class="fa fa-film" aria-hidden="true"></i> My Videos
        </a>
      </li> -->

      <li>
        <a href="/channels">
          <i class="fa fa-youtube" aria-hidden="true"></i> Channels
        </a>
      </li>
      <li>
        <a href="/category">
          <i class="fa fa-book" aria-hidden="true"></i> My Categories
        </a>
      </li>

      <!-- <li class="header">Projects</li>
  
      <li>
        <a class="font-weight-light" id="add-project">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Project
        </a>
      </li> -->
    </ul>
  
  
  
    <li class="sidebar-bottom">
      <a href="/admin">Admin Panel</a> 
      |
      <a href="/settings">Updates</a> 
    </li>
  </div>